<%= form_for(@training, :html => { :class => "form-horizontal" }) do |f| %>
  <% if @training.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4><%= pluralize(@training.errors.count, "error") %> prohibited this training from being saved:</h4>

      <ul>
      <% @training.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, 'Nome', :class => "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :objective, 'Objetivo', :class => "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.text_area :objective, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :duration, 'Duração', :class => "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.text_field :duration, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :schedule, 'Rotina de Treino', :class => "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.text_area :schedule, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :body_group, 'Tipo de Treino', :class => "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.text_field :body_group, :class => "form-control" %>
    </div>
  </div>

  <div class="page_header">
    <h3>Exercícios</h3>
  </div>
  <div class="table-responsive">
    <table class="table-striped table-hover table">
      <thead>
        <tr>
          <th>Exercício</th>
          <th>Repetições</th>
          <th>Séries</th>
          <th>Intervalo</th>
          <th>Peso</th>
          <th></th>
        </tr>
      </thead>
      <tbody id="exercises">
        <%= f.fields_for :exercises do |exercise| %>
          <%= render 'exercise_fields', :f => exercise %>
        <% end %>
      </tbody>
      <tfoot class="links">
        <tr>
          <td colspan="5"></td>
          <td><%= link_to_add_association 'adicionar exercício', f, :exercises, class: 'btn btn-info', :"data-association-insertion-node" => raw('table'), :"data-association-insertion-method" => "append" %></td>
        </tr>
      </tfoot>
    </table>
  </div>


  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit :class => "btn btn-primary btn-lg" %>
    </div>
  </div>
<% end %>
