<%= form_for(@training, :html => { :class => "form-horizontal" }) do |f| %>
  <% if @training.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4><%= pluralize(@training.errors.count, "error") %> prohibited this training from being saved:</h4>

      <ul>
      <% @training.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, :class => "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :objective, :class => "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.text_area :objective, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :duration, :class => "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.text_field :duration, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :schedule, :class => "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.text_area :schedule, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :body_group, :class => "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.text_field :body_group, :class => "form-control" %>
    </div>
  </div>

  <fieldset>
    <h3>Exercícios</h3>
    <div id="exercises">
      <%= f.fields_for :exercises do |exercise| %>
        <%= render 'exercise_fields', :f => exercise %>
      <% end %>
      <div class="links">
        <%= link_to_add_association 'adicionar exercício', f, :exercises, class: 'btn btn-info' %>
      </div>
    </div>
  </fieldset>


  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit :class => "btn btn-primary" %>
    </div>
  </div>
<% end %>
